<aside class="sidebar">
    <nav class="sidebar-nav">
        <a href="index.html">About</a>
        <a href="faculty.html">Faculty</a>
        <a href="research.html">Research Forum</a>
        <a href="mentorship.html">Mentorship</a>
        <a href="industrial.html">Industrial Visits</a>
        <a href="guest.html">Guest Lectures</a>
        <a href="event.html">Events</a>
        <a href="work.html">workshops</a>
        <a href="conference.html">Conference / Symposium</a>
        <a href="intern.html">Internships</a>
        <a href="academic.html">Academic Offerings</a>
        <a href="career.html">Career Opportunities</a>
        <a href="fdp.html">FDP</a>
        <a href="news.html">Newsletter</a>
    </nav>
</aside>
